* {
    box-sizing: border-box;
}

/*---- Main Styles ----*/

body {
    margin: 0;
    background-color: #f7f7f7;
}

h1, 
p {
    text-align: center;
}

h1 {
    padding: 20px 0;
    margin-top: 0;
    background-color: #c8e6f8;
    color: rgb(2, 0, 71);
}
/*---- 3D Cube Styles ----*/

.container {
    max-width: 250px;
    margin: 15vh auto 10rem;
    text-align: center;
    perspective: 700px;
}

.cube {
    transition: transform 2s ease-in-out;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
}

img {
    object-fit: cover;
    width: 100%;
}

.front,
.back,
.left,
.right,
.top,
.bottom {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.front {
    transform: translateZ(125px);
}

.back {
    transform: rotateZ(180deg) translateZ(-125px);
}

.left {
    transform: rotateY(-90deg) translateZ(-125px);
}

.right {
    transform: rotateY(90deg) rotateZ(90deg) translateZ(-125px);
}

.top {
    transform: rotateX(90deg) translateZ(125px);
}

.bottom {
    transform: rotateX(90deg) rotateZ(180deg) translatez(-125px);
}

input {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 50px;
    transform: translateZ(125px);
}

.c:checked ~ .cube {
    transform: rotateX(90deg);
}

.b:checked ~ .cube {
    transform: rotateX(180deg);
}

.d:checked ~ .cube {
    transform: rotateX(270deg);
}

.a:checked ~ .cube {
    transform: rotateX(270deg) rotateZ(90deg);
}

.e:checked ~ .cube {
    transform: rotateX(270deg) rotateY(-90deg) rotateZ(270deg);
}

.f:checked ~ .cube {
    transform: rotateY(0deg);
}